/* color style guide */
.primary-text-color {
    color: #2F6114 !important;
}

.primary-bg-color {
    background-color: #2F6114 !important;
}

.primary-border-color {
    border-color: #2F6114 !important;
}

.secondary-bg-color {
    background-color: #391463 !important;
}

.secondary-border-color {
    border-color: #391463 !important;
}

.error-text-color {
    color: #BE1919 !important;
}

.error-bg-color {
    background-color: #BE1919 !important;
}

.error-border-color {
    border-color: #BE1919 !important;
}

.extra-bg-color {
    background-color: #E88452 !important;
}

.extra2-bg-color {
    background-color: #455A64 !important;
}

.extra3-bg-color {
    background-color: #12586F !important;
}

.extra-border-color {
    border-color: #E88452 !important;
}

.dashboard-header-bg-color {
    background-color: #EFF6EE !important;
}


/* input focus */
input:focus, select:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem #2f611454 !important;
}

/* input checked */
input:checked {
    background-color: #2F6114 !important;
}



/* trade gift card? */
.hero-text {
    background: -webkit-linear-gradient(#2F6114, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text-landing {
    background: -webkit-linear-gradient(left, rgba(57, 20, 99, 1), rgba(47, 97, 20, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* action container */
.action-container {
    background: linear-gradient(
        178.93deg, 
        rgba(79, 156, 36, 0.1) 0.92%, 
        rgba(79, 156, 36, 0.35) 97.79%
    );
    box-shadow: 7px 7px 23px rgba(47, 97, 20, 0.2);
}

/* .header-icon-color */
.header-icon-color {
    color: #FFFFFF !important;
}

/* wallet-balance-bg */
.wallet-balance-bg {
    background: rgba(79, 156, 36, 0.1) !important;
    box-shadow: inset 0px 15.7084px 22.5557px -14.5001px rgba(255, 255, 255, 0.5), 
        inset 0px 2.81946px 4.43059px -1.61112px #FFFFFF, 
        inset 0px -33.028px 27.3891px -25.778px rgba(47, 97, 20, 0.3), 
        inset 0px 39.4725px 40.2781px -19.3335px rgba(47, 97, 20, 0.3), 
        inset 0px 1.61112px 7.25005px rgba(47, 97, 20, 0.3), 
        inset 0px 0.402781px 16.1112px rgba(47, 97, 20, 0.3);
    backdrop-filter: blur(40.2781px);
    border-radius: 10.0875px;
}

/* .main-card */
.main-card {
    background: #EFF6EE !important;
    box-shadow: -2.01751px -2.01751px 5.04376px rgba(81, 151, 42, 0.2), 2.01751px 2.01751px 5.04376px rgba(79, 156, 36, 0.2);
    border-radius: 5.04376px;
}

/* .notification-card */
.notification-card {
    background: #EFF6EE !important;
    border-radius: 10px;
}

/* .account-info */
.account-info {
    background: rgba(232, 132, 82, 0.5) !important;
    border-radius: 10px;
}

/* trade-giftcards */
.trade-giftcard {
    background: rgba(57, 20, 99, 0.4);
    border-radius: 10.0875px;
}

/* trade-bitcoin */
.trade-bitcoin {
    background: rgba(18, 88, 111, 0.5);
    border-radius: 10.0875px;
}

/* .circular-progress */
.progress-circle-1 {
    border-color: black #2F6114 #EFF6EE #E88452 !important;
}

/* .summary-card */
.summary-card {
    background: rgba(239, 246, 238, 0.8) !important;
    box-shadow: 1.98291px 1.98291px 5.94872px rgba(0, 0, 0, 0.25);
    border-radius: 9.91453px;
}

/* .services-header */
.services-header {
    content: "";
    width: 100vw;
    height: 25rem;
    z-index: -2;
    /* margin-top: 5rem; */
    position: absolute;
    background-color: rgba(239, 246, 238, 1) !important;
}

/* .about-box */
.about-box {
    border: 1px solid #2F6114 !important;
    box-shadow: 4px 4px 9px rgba(47, 97, 20, 0.28) !important;
    border-radius: 10px !important;
}

/* .all-btn */
.all-btn {
    background-color: rgba(18, 88, 111, 0.6) !important;
    border-radius: 5.00865px !important;
}

/* .pending-btn */
.pending-btn {
    background-color: #EFF6EE !important;
    border-radius: 5.00865px !important;
}

/* .successful-btn */
.successful-btn {
    background-color: rgba(79, 156, 36, 0.5) !important;
    border-radius: 5.00865px !important;
}

/* .error-btn */
.error-btn {
    background-color: rgba(190, 25, 25, 0.5) !important;
    border-radius: 5.00865px !important;
}

/* .get-android-btn */
.get-android-btn {
    background-color: rgba(190, 25, 25, 0.71) !important;
    border-radius: 10px !important;
}

/* .get-iphone-btn */
.get-iphone-btn {
    background-color: #000000 !important;
    border-radius: 10px !important;
}

/* .footer-dl-btn */
.footer-dl-btn {
    background-color: rgba(239, 246, 238, 0.8) !important;
}

/* .make-btn-pill */
.make-btn-pill {
    border-radius: 20px !important;
}

/* .how-card-1 */
.how-card-1 {
    background-color: #E88452;
}

/* .how-card-2 */
.how-card-2 {
    background-color: rgba(57, 20, 99, 0.7);
}

/* .how-card-3 */
.how-card-3 {
    background-color: #455A64;
}

/* .active-all */
.active-all {
    border: 0.500865px solid rgba(18, 88, 111, 0.5);
    box-sizing: border-box;
    box-shadow: 0px -0.500865px 4.50779px 4.00692px rgba(18, 88, 111, 0.4);
}

/* .active-pending */
.active-pending {
    border: 0.500865px solid rgba(18, 88, 111, 0.5);
    box-sizing: border-box;
    box-shadow: 0px -0.500865px 4.50779px 4.00692px rgba(18, 88, 111, 0.4);
}

/* .active-successful */
.active-successful {
    border: 0.462465px solid #2F6114;
    box-sizing: border-box;
    box-shadow: 0px -0.462465px 4.16219px 3.69972px rgba(47, 97, 20, 0.4);
}

/* .active-error */
.active-error {
    border: 0.46px solid #BE1919;
    box-sizing: border-box;
    box-shadow: 0px -0.46px 4.16px 3.7px rgba(190, 25, 25, 0.4);
}


/* .get-started-btn */
/* .get-started-btn {
  background: 
    linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
} */

.get-started-btn {
    position: relative;
}

.get-started-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px; 
    padding: 3px; 
    background: linear-gradient(45deg,rgba(232, 132, 82, 1), rgba(47, 97, 20, 1)); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}





/* 
* .new-sidebar-bg
*/
.new-sidebar-bg {
    background-color: #EFF6EE !important;
    box-shadow: 3px 2px 4px rgba(47, 97, 20, 0.3) !important;
}








/* 
* breakpoints
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dashboard-header-bg-color {
        background-color: #2F6114 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dashboard-header-bg-color {
        background-color: #2F6114 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dashboard-header-bg-color {
        background-color: #EFF6EE !important;
    }

    .header-icon-color {
        color: #2F6114 !important;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}