/* color style guide */
.primary-text-color {
    color: #2F6114;
}

.primary-bg-color {
    background-color: #2F6114 !important;
}

.primary-border-color {
    border-color: #2F6114 !important;
}

.error-text-color {
    color: #BE1919 !important;
}

.error-border-color {
    border-color: #BE1919 !important;
}

.extra-bg-color {
    background-color: #E88452 !important;
}

.extra-border-color {
    border-color: #E88452 !important;
}

.dashboard-header-bg-color {
    background-color: #EFF6EE !important;
}


/* input focus */
input:focus, select:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem #2f611454 !important;
}

/* input checked */
input:checked {
    background-color: #2F6114 !important;
}



/* trade gift card? */
.hero-text {
    background: -webkit-linear-gradient(#2F6114, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* action container */
.action-container {
    background: linear-gradient(178.93deg, rgba(79, 156, 36, 0.1) 0.92%, rgba(79, 156, 36, 0.35) 97.79%);
    box-shadow: 7px 7px 23px rgba(47, 97, 20, 0.2);
}

/* .header-icon-color */
.header-icon-color {
    color: #FFFFFF !important;
}

/* wallet-balance-bg */
.wallet-balance-bg {
    background: rgba(79, 156, 36, 0.1) !important;
    box-shadow: inset 0px 15.7084px 22.5557px -14.5001px rgba(255, 255, 255, 0.5), inset 0px 2.81946px 4.43059px -1.61112px #FFFFFF, inset 0px -33.028px 27.3891px -25.778px rgba(47, 97, 20, 0.3), inset 0px 39.4725px 40.2781px -19.3335px rgba(47, 97, 20, 0.3), inset 0px 1.61112px 7.25005px rgba(47, 97, 20, 0.3), inset 0px 0.402781px 16.1112px rgba(47, 97, 20, 0.3);
    backdrop-filter: blur(40.2781px);
    border-radius: 10.0875px;
}

/* .main-card */
.main-card {
    background: #EFF6EE !important;
    box-shadow: -2.01751px -2.01751px 5.04376px rgba(81, 151, 42, 0.2), 2.01751px 2.01751px 5.04376px rgba(79, 156, 36, 0.2);
    border-radius: 5.04376px;
}

/* .notification-card */
.notification-card {
    background: #EFF6EE !important;
    border-radius: 10px;
}

/* trade-giftcards */
.trade-giftcard {
    background: rgba(57, 20, 99, 0.4);
    border-radius: 10.0875px;
}

/* trade-bitcoin */
.trade-bitcoin {
    background: rgba(18, 88, 111, 0.5);
    border-radius: 10.0875px;
}











/* 
* breakpoints
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .dashboard-header-bg-color {
        background-color: #2F6114 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .dashboard-header-bg-color {
        background-color: #2F6114 !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .dashboard-header-bg-color {
        background-color: #EFF6EE !important;
    }

    .header-icon-color {
        color: #2F6114 !important;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}