/* .hero-text-container */
.hero-text-container {
    width: 65%;
}

/* .bank-info-container */
.bank-info-container {
    width: 50%;
}

/* .action-container */
.action-container {
    width: 90%;
    height: 100%;
}

/* input border radius */
.input-rounded, .btn-rounded {
    border-radius: 10px !important;
}

/* .name-hint */
.name-hint {
    width: 50%;
}