/* .hero-text-container */
.hero-text-container {
    width: 65%;
}

/* .action-container */
.action-container {
    width: 90%;
    height: 100%;
}

/* input border radius */
.input-rounded {
    border-radius: 10px !important;
}

